.navbar {
  display: flex;
  background-color: #fef9ea;
  height: 5rem;
  padding: calc(1rem * 0.5) calc(1rem * 1);
}

.navbarFixedTop {
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbarInner {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navbarItems {
  align-items: center;
  display: flex;
  flex: 1;
  min-width: 0;
}

.navbarItemRight {
  flex: 0 0 auto;
  justify-content: flex-end;
}

.navbarBrand {
  font-size: 1.5rem;
  align-items: center;
  color: #4e4e4e;
  display: flex;
  margin-right: 1rem;
  min-width: 0;
}

.navbarItem {
  font-weight: 600;
  display: inline-block;
  padding: 0.25rem 20px;
}

.navbarLink {
  color: #4e4e4e;
}

.hero {
  background-color: #fef9ea;
  text-align: center;
  padding: 4.5rem 2rem;
}

.title {
  margin: 0;
  font-family: 'Oooh Baby', cursive;
  line-height: 1.5;
  font-size: 12rem;
  color: #1de5de;
}

.subTitle {
  color: #4e4e4e;
  margin-top: 0.5rem;
}

.heroButtons {
  margin-top: 1.5rem;
}

.styledButton {
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin: 0.25em 0;
  padding: 0.75em 1.5em;
  position: relative;
  transition: none;
  background-color: #22d9d3;
  color: #ffffff;
}

.styledButton:hover {
  background-color: #1abcb7;
}

.container {
  padding: 0 2rem;
}

.main {
  /* min-height: 100vh; */
  margin: 0px 60px 0px 60px;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.featureSection {
  padding: 90px 0px 90px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
}

.featureSectionDescription {
  color: #4e4e4e;
  width: 35%;
}

.featureSectionDescription > h2 {
  margin-top: 0px;
}

.featureSectionDescription > p {
  margin: 0 0 1.25rem;
  font-size: 1.1rem;
  color: #828282;
  line-height: 1.5;
}

.featureSectionLink {
  font-size: 0.95rem;
  font-weight: 700;
  color: #1abcb7;
}

.featureSectionImageWrapper {
  width: 60%;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-color: #828282;
  height: 420px;
  border-radius: 0.375rem;
  overflow: hidden;
  order: 0;
  /* box-shadow: rgb(26 25 43 / 2%) 0px 2px 2px, rgb(26 25 43 / 2%) 0px 12.5px 10px,
    rgb(26 25 43 / 2%) 0px 22.3px 17.9px, rgb(26 25 43 / 3%) 0px 41.8px 33.4px,
    rgb(26 25 43 / 2%) 0px 100px 80px; */
}

.footer {
  background-color: #1de5de38;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
